@import "_partials/overwrites";
@import "_partials/variables";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
