@use "../../styles/_partials/variables" as colors;

.breadcrumb-wrapper
{
    margin-top: 10px !important;
    padding: 15px;
    background: colors.$white;
    border-radius: 10px !important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.1), 0px 1px 1px 0px rgba(0,0,0,0.014), 0px 1px 3px 0px rgba(0,0,0,0.012);

    .MuiBreadcrumbs-li:last-of-type {
        color: colors.$primary-color;
    }
}
